
.header-line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 0 8px 6px -6px rgb(175, 151, 151);
    -moz-box-shadow: 0 8px 6px -6px rgb(136, 123, 123);
    box-shadow: 0 8px 6px -6px rgb(105, 92, 92);

}
.logo
{
   width:8em;
   height:8em;
   margin-right: 2%;
   padding: .3em;
}
.title {
    font-size: 3em;
    font-weight: lighter;
    color:black;
}
.Bar
{
    
    visibility: hidden;
}
.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: .7;
}

.dog {
    height: 450px;
    width: 100%;
    object-fit: cover;
}
.breaking-news
{   
    opacity:0.7;
}
.parag{
    margin-bottom: 5%;
    opacity:0.8;
}

table {
    width: 100%;
     }

tr,td {
    text-align: center;
    height: 50px;
      }
h2
{
opacity:0.8;
}

.weather {
    float: left;
    margin-right: 5%;
   }

.temp {
    margin-top:6%;
    font-size: 40px;
    font-weight: lighter;
    opacity: 0.8;
     }
.Blog {
    list-style: none;
    margin-top: 25px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    
}
.Blog li{
    margin-right: 1.9rem;
    font-size: 1.2em;
}
.last-pic {
    float: left;
    height:120px;
    width:160px;
    padding-right: 2%;
    opacity:1;
}
.parag {
    padding-bottom: 2%;
    opacity: 0.;
}
.city-font
{
    color:firebrick;
}
.goup
{
    margin-top:-2%;
}
.table-row-color-light-blue,.table-row-color-grey,.table-head-color
{
    background-color:white;
}

#main-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

#main-table td, #main-table th {
    padding: 8px;
}

#main-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(131, 202, 143);
    color:rgb(65, 49, 49);
    text-align: center;
}

#main-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.nav li:hover{
    background-color:gray;
    }
#main-table tr:hover {
    background-color: #ddd;
}
.weather-1{
    display: none;
}
footer{
    -webkit-box-shadow: 0 8px 6px -6px rgb(175, 151, 151);
    -moz-box-shadow: 0 8px 6px -6px rgb(136, 123, 123);
    box-shadow: 0 8px 6px -6px black;
}
footer div{
    display: flex;
   
}
footer div p{
    margin-right: 10%;
    margin-left: 10%;
    
}

#tablet-right{
    display: hidden;
}

@media only screen and (max-width:769px) and (min-width:426px)
{   

    .title
    {
       width: 9em;
    }
    .logo
    {  
       width: 8em;
    }
    #tablet-right{
        visibility: visible;
    }
    .dog
    {
       height: 365px;
    }
    .weather-1{
        display: none;
    }
    .breaking-news
    {  
        color: white;
        background-color:black;
        margin-top:-29%;
    }
    #for-tablet-mode
    {  
        display:flex;
        justify-content: space-between;
    }
    #tablet-left
    {   
        flex: 5;
        order: 1;
    }
    #tablet-right
    {
        flex: 1;
        order: 2;
        
    }
    .city-font
    {
          margin-left: 5%;
          margin-top: -4.5%;
    }
   
}

@media only screen and (max-width:425px)
{
    .title
    {
       font-size:1em;
       padding-top: .8em;
       padding-right: 12em;
    }
    .logo
    {  
        width: 3em;
        height:3em;
    }
    .Bar
    {
        visibility: visible;
        opacity: 0.5;
        margin-top: 3%;
        color: black;
        padding-top: .8em;
        
    }
    .dog
    {
       height: 365px;
    }
    .breaking-news
    {   position: relative;
        color: white;
        background-color:black;
        margin-top:-29%;
    }
    #for-tablet-mode
    {  
        display:flex;
        justify-content: space-between;
    }
    #tablet-left
    {   
        flex: 5;
        order: 1;
    }
    #tablet-right
    {
       display: none;
    }
    .nav
    {
        display: none;
    }
    footer div p{
        margin-right: 5%;
        margin-left: 5%;
        
    }
    
   
}